#!/bin/bash

# Test constants for k8sclient module
# These are used by the Lua test files in pkg/modules/k8sclient/testdata/

export TEST_NAMESPACE="default"
export TEST_CONFIG_NAME="test-config"
export TEST_CONFIG_KEY="key1"
export TEST_CONFIG_VALUE="value1"
export TEST_NEW_CONFIG_NAME="new-config"
export TEST_DATA_KEY="foo"
export TEST_DATA_VALUE="bar"
export TEST_UPDATE_KEY="updated"
export TEST_UPDATE_VALUE="new-value"
export TEST_DELETE_CONFIG_NAME="delete-config"
export TEST_DELETE_DATA_KEY="test"
export TEST_DELETE_DATA_VALUE="data"
export TEST_UPDATE_CONFIG_NAME="update-config"
export TEST_ORIGINAL_KEY="original"
export TEST_ORIGINAL_VALUE="value"
export TEST_INTEGRATION_NAME="integration-config"
export TEST_INITIAL_KEY="initial"
export TEST_INITIAL_VALUE="value"
export TEST_LIST_CONFIG_1="list-config-1"
export TEST_LIST_CONFIG_2="list-config-2"
export TEST_LIST_KEY_1="key1"
export TEST_LIST_VALUE_1="value1"
export TEST_LIST_KEY_2="key2"
export TEST_LIST_VALUE_2="value2"
